################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.suo
*.db
*.opendb
.vscode
.vs
x64
Release
rel/
rel64/
dbg/
dbg64/
*.vcxproj.user
